<div class="page" id="beach">
        <header id="beach-header">   
                <div id="question">                
                    <h1>Donde esta la playa ?</h1>          
                    <p>
                        Paseo por la rambla de Poblenou pero no encuentro el camino para la playa donde tengo una cita por Tinder en 15 minutos ...<br>
                        Click on start after  : <span id="beach-count"></span> 
                        <div class="button">
                                <button id="night-page" class="next"> START</button>
                        </div>                            
                    </p>
                </div>
            <div id="image-questions">      
                    <img  src="images/image-beach2.webp" alt="">
            </div>           
            </header>
    <div id="answers">
            <div class="answer" id="answer1">  
                <span><i></i></span>            
                <p id="p1">Sigo cualquier camino para el este ya que el mar esta en esta direccion</p>
            </div>
            <div class="answer" id="answer2">
                <i></i>
                <p id="p2">Sigo la direccion del dedo del artista que hace de estatua</p>
            </div>
            <div class="answer" id="answer3">
                <i></i>
                <p id="p3"> Le pregunto a esta chica que habla en catalan llevando una tualla</p>
            </div>
            <div class="answer" id="answer4">
                <i></i>
                <p id="p4">Voy para la torre Agbar, ya que en el mapa parcecia bastante cerca</p>
            </div>
        </div>
</div>
<audio src="#" autoplay id="win-sound"></audio>
<audio src="#" autoplay id="lose-sound"></audio>


<!-- ul.List>li.item*44 -->