<div class="page" id="beach">
        <header id="beach-header">   
                <div id="question">                
                    <h1>Donde esta la playa ?</h1>          
                    <p>
                        Estoy en la rambla de Cataluña, a quien le puedo preguntar donde esta el hotel ... <br>
                        Remaining time : <span id="hotel-count"></span>
                    </p>
                </div>
            <div id="image-questions">      
                    <img  src="images/image-beach2.webp" alt="">
            </div>           
            </header>
    <div id="answers">
            <div class="answer" id="answer1">  
                <span><i></i></span>            
                <p id="p1">a esta mujer con la pollera mut corta y que me dice " hola Papi !"</p>
            </div>
            <div class="answer" id="answer2">
                <i></i>
                <p id="p2">a este bar de tapas y le pregunto a la tortilla </p>
            </div>
            <div class="answer" id="answer3">
                <i></i>
                <p id="p3">al camarero cuando termine de servir la sidra</p>
            </div>
            <div class="answer" id="answer4">
                <i></i>
                <p id="p4">voy para la plaza de toros, creio que queda cerca </p>
            </div>
        </div>
</div>
<div class="button">
    <button id="night-page" class="next"> load city page html</button>
</div>
<audio src="#" autoplay id="win-sound"></audio>
<audio src="#" autoplay id="loose-sound"></audio>


<!-- ul.List>li.item*44 -->