<div class="page" id="final">
        <header id="results-header"> 
                <div class="question">                
                        <h1>Final results</h1>          
                        <p id="player"><p>                               
                </div>
        </header>
        <section class="results">
                <div id="image-results">        
                        <img src="media/images/ranking.jfif" alt="">
                </div>
                <p id="results"></p> 
        </section> 
        <footer id="start" >  
                <p class="play">Click to play again</p>  
                        <div class="button">
                             <button id="restart">RESTART</button>    
                        </div>                           
                <audio src="../media/audios/applause.wav"  id="applause"></audio>
                <audio src="../media/audios/fail.wav"  id="fail"></audio>
                <audio src="../media/audios/success.wav"  id="success"></audio>
                <audio src="../media/audios/average.wav"  id="average"></audio>
        </footer> 
</div>






