<div class="page" id="final">
        <header id="results-header"> 
                <h1>Results</h1>   
                <div id="image-results">        
                        <img src="media/images/ranking.jfif" alt="">
                </div>
                <div>              
                    <p id="player"></p>         
                    <p id="results"></p>        
                </div>
                <div class="button">
                <button id="restart">restart the game</button>    
                </div>   
            </header>
            <audio src="#" autoplay id="award"></audio>
            <audio src="#" autoplay id="game-over"></audio>
        
</div>






