<div class="page" id="hotel">
    <header>   
        <div id="question">                
            <h1>Buscando el hotel</h1>          
            <p id = "question-hotel">
                Estoy en la rambla de Cataluña, a quien le puedo preguntar donde esta el hotel <br>
                Click on start after  : <span id="hotel-count"></span> 
                <div class="button">
                        <button id="beach-page" class="next">START</button>
                </div>                            
    </p>
        </div>
    <div id="image-questions"> 
            <img src="images/dodo.webp" alt="">       
            <img src="images/rambla.gif" alt="">
            <img src="images/colon.webp" width="30%" alt="">
    </div>
    </header>
    <div id="answers">
        <div class="answer" id="answer1">  
            <i></i>              
            <p id="p1">al camarero cuando termine de servir la sidra</p>
            <img src="images/camarero.webp" width="20%"alt="">
        </div>
        <div class="answer" id="answer2">
            <i></i>
            <p id="p2">a esta mujer con la falda muy corta y que me dice " hola Papi !"</p>
            <div style="background: url('images/camera.webp') no-repeat"><img src="images/hot.webp" width="50%" alt=""></div>
        </div>
        <div class="answer" id="answer3">
            <i></i>
            <p id="p3">e pregunto a esta mujer bailando flamenco</p>
            <img src="images/flamenca.webp" width="20%"alt="">
        </div>
        <div class="answer" id="answer4">
            <i></i>
            <p id="p4">voy para la plaza de toros, creo que queda cerca </p>
            <img src="images/toro.webp" width="20%"alt="">
        </div>
    </div>
</div>
<div class="button">
    <button id="beach-page" class="next">load beach page html</button>
</div>
<p id="player"></p>
<audio src="#" autoplay id="win-sound"></audio>
<audio src="#" autoplay id="lose-sound"></audio>


<!-- ul.List>li.item*44 -->