<div class="page" id="night">
    <header id="night-header">   
        <div class="question">                
            <h1>De noche ...</h1>          
            <p>
                Nos fuimos a beber unas copas y despues a la disco, creo que he bebido demasiado y estoy muy borracho ...<br>
            </p>
        </div>
        <div id="image-questions">        
                <img src="media/images/people.jfif" style="margin-left:50px;"alt="">
                <img src="media/images/tchin.webp" alt="">
        </div>
    </header>
    <div id="answers">
        <div class="answer" id="answer1">  
            <i></i>              
            <p id="p1">Pregunto al DJ si puede cambiar de musica</p>
        </div>
        <div class="answer" id="answer2">
            <i></i>
            <p id="p2"> Ya no me importa nada y le/la invito a una copa</p>
        </div>
        <div class="answer" id="answer3">
            <i></i>
            <p id="p3">Llamo a la policía</p>
        </div>
        <div class="answer" id="answer4">
            <i></i>
            <p id="p4">Me encierro en los servicios con llave </p>
        </div>
    </div>
    <footer id="start">  
        <p class="play">Click to see the results before <span id="night-count"></span> seconds</p>  
        <div class="button">
            <button id="final-page" class="next">RESULTS</button>  
        </div>                           
        <audio  autoplay src="media/audios/bailando.mp3"></audio>
        <audio src="#" autoplay id="win-sound"></audio>
        <audio src="#" autoplay id="lose-sound"></audio>
    </footer>   
</div>


<!-- ul.List>li.item*44 -->