
/* HOME styles */

#content-main {
    background-image: url('../media/images/holidays-bg.jpg');
    background-size: cover;
    background-position-y: bottom;
    background-position-x: left;
    background-repeat: no-repeat;
    height: 120vh;
    position: relative;   
}

#content-main header {
    display: flex;
    justify-content: start;
    font-size: 1rem;
    background-color: #000; /*var(--color-count-home); */
    width: 100%;
    color: #FFF;
    position: fixed;
    height: 90px;
    padding: var(--space-l); 
}


#images-home {
    width: 70%;
    position: absolute;
    bottom:0;
    right: 0;
}

#intro {
width: 50%;
position: absolute;
bottom:50%;
right: 0;
padding: 20px;
}

#intro p {
    font-size: 1.5rem;;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #000; /*var(--color-count-home); */
    width: 50%;
    color: #FFF;
    z-index:1
}

h1#logo {
    margin-left: 2%;
}

h1#logo img {
width: 60%;
}

#question-home {
    margin-right: 5%;
}

#home-count {
    font-weight: 300;
    font-size: 3rem;
}

footer#start {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #000; /*var(--color-count-home); */
    width: 100%;
    color: #FFF;
    position: fixed;
    bottom:0;
    height: 50px;
    padding: var(--space-l); 
}

img#tourist {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 50px;
}

img#car {
    position: relative;
    top: 0;
    left: 0;
}

input#player-name {   
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1rem; 
}


#home-title h1 {
    margin-bottom: 10vh;
    font-size: 2.5rem;
    color: #000;
    font-family:'Lato';
    background-color:  var(---color-nav-home);
}


button.next {
    display: none;
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    border: none;
    padding: 0.6rem 2rem;
    margin-left: 5%;
    text-decoration: none;
    font-size: 1.5rem;
}

button#restart{
    background-color: #FFF;
    color: #000;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 1rem;
}


/* common questions styles */

.question {
    background-color: var(--color-all-question); 
    color: var(--color-text-question);   
    width: 100%;
    text-align: center;;
    padding: 20px;
}

.question p {
    margin-bottom: var(--space-l); 
    font-weight: 100;   
    font-size: 1.5rem;   
}

.question h1 {
    color: var(--color-text-question);  
    margin-bottom: 10px;
    font-size: 2.5rem;
}

#image-questions {
    margin-bottom: 5vh;
    margin-top: 5vh;    
}

#answers{
   display: flex;
   flex-wrap: wrap; 
   gap: 10px;
   justify-content: space-around;
   padding-bottom: calc(50px + 1.5rem);
 }

 
.answer {   
    width: 49%;
    height: 20vh;    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;  
    padding: 30px; 
    }


.answer p {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 100;  
    width: 100%;
    cursor: pointer;
}

i {
    padding: 10px;
}

 .success {
    font-size:48px;
    color:green;
}

.danger {
    font-size:48px;
    color:red;
}

.button {
    display: flex;
    justify-content: center;
}

.next {
    padding: var(--space-s);    
}

.answser span {
    background-color: #FFF;
    padding: var(--space-s);
}


/*hotel styles */

#content-hotel {   
    background-color:var(--color-main-hotel);
    height: 120vh;
    background-image: url('../media/images/hotel-bg.jpg');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat; 
}


#hotel header {
    margin-bottom: var(--space-m); 
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 60%;
}


#hotel-count {
    font-size: 3rem;
    white-space: pre;
}


 #hotel #answers {
    background-color: var(--color-answers-hotel);    
    margin-top: 15vh;
 }


#hotel #answer1 {
    background-color: #78bf47 ;
}

#hotel #answer2 {
    background-color: #9f9370 ;
}

#hotel #answer3 {
    background-color: #9fc6e6 ;
}

#hotel #answer4 {
    background-color: #fee123 ;
}

/* beach styles */

#content-beach {
    background-color: var(--color-main-beach);
}


#beach-header {
    background-image: url('../media/images/beach.png');
    background-size: cover;
    background-position: left ;
    background-repeat: repeat; 
    margin-bottom: var(--space-m); 
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#beach-count {
    font-size: 3rem;
    white-space: pre;
}

.image-beach {
    width: 20%;
}
#content-beach {
    background-color: var(--color-main-beach);
}


#beach header {
    background-image: url('../media/images/city-bg.jpg');
    background-size: contain;
    background-position: left ;
    background-repeat: repeat;  
    margin-bottom: var(--space-m); 
}

#beach h1 {
margin-bottom: 10px;
font-size: 2.5rem;
color:var(--color-title-beach);
}

#beach header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#beach #answer1 {
    background-color: #fcd306;
}

#beach #answer2 {
    background-color: #9cc6fc;

}

#beach #answer3 {
    background-color: #eb0c05;
}

#beach #answer4 {
    background-color:#fd552a;

}


#beach #answers{
    background-color: var(--color-answers-beach);
}

#beach .answer {
   background-color: var(--color-answer-beach);
}


/* night styles */

#content-night {
    background-color: var(--color-main-night);
    color: #000;
}

#night header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#night-count {
    font-size: 3rem;
    white-space: pre;
}

#night #answers {
    background-color: var(--color-answers-night);
}


#night #answer1 {
    background-color: #522c91;
    #0e0f24
}

#night #answer2 {
    background-color: #afde2a;
}

#night #answer3 {
    background-color:#ad48bc;

}

#night #answer4 {
    background-color:#ac0b1f;

}
/* final styles */

#final h1 {
    color:  #FFF;
}
#final p {
    font-size: 2.5rem;
}


.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#content-results {
    height: 100vh;
    background-color: #e6e9ee;

}

#results-count {
    font-size: 3rem;
    white-space: pre;
}

button#restart {
    font-size:0.9rem;
}

